<div *ngIf="display" class="modal fade-customize bs-example-modal-sm" [ngClass]="{in: modalAnimation}" role="dialog" aria-hidden="true" data-backdrop="static" style="z-index: 9999; display: block;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="background-color: transparent">
            <div class="modal-body" style="padding:0">
                <div id="floatBarsG">
                    <div id="floatBarsG_1" class="floatBarsG"></div>
                    <div id="floatBarsG_2" class="floatBarsG"></div>
                    <div id="floatBarsG_3" class="floatBarsG"></div>
                    <div id="floatBarsG_4" class="floatBarsG"></div>
                    <div id="floatBarsG_5" class="floatBarsG"></div>
                    <div id="floatBarsG_6" class="floatBarsG"></div>
                    <div id="floatBarsG_7" class="floatBarsG"></div>
                    <div id="floatBarsG_8" class="floatBarsG"></div>
                </div>
            </div>
        </div>
    </div>
</div>